body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: blueviolet;
    color: lime;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1, input, button {
  margin-left: auto;    /* pushes right */
  margin-right: auto;   /* pushes left */
}
